{% block title %}
<span style="display: none;">Experiment: Practice</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'similarity/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'similarity/html2canvas.js' }}" type="text/javascript"></script>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
     setTimeout(function() {
         div = document.querySelector(".delay");
         if (div) div.style.position = "inherit"
     }, 2000)

 });
</script>
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="whole delay">

        <p style="text-align: center; font-size: 20px; text-align: center; margin-top: 50px; margin-bottom: 30px;">
            {{ round_instruction }}
        </p>

        <div id="draw">
            <label>
                <!-- Adding image for testing; this is overwritten by the JS and is just a placeholder -->
               <img id="imagePair" src="{{ static 'similarity/images/batch_1/test_pair_1_batch_1.png' }}" alt="Temporary Image" style="width: 100%; max-width: 600px;">
            </label>
        </div> 
        
        <!-- Add slider input element -->
        <div style="text-align: center; margin-top: 20px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <label for="slider" style="margin-right: 10px;">Similarity:</label>
                <input type="range" id="slider" name="slider" min="0" max="100" value="50" oninput="updateSliderValue(this.value)" style="width: 300px; height: 20px;">
                <span id="sliderValue" style="margin-left: 10px;">50</span>
            </div>
        </div>
        
        <!-- Adding hidden formfields for storing data -->
        <div id="formfield_errors">
			{{ formfield_errors 'imageIndices' }}
			{{ formfield_errors 'imageRatings' }}
            {{ formfield_errors 'stimIndices' }}
        </div>

        <br>

        <!-- 'Next' button -->
        <button class="otree-btn-next btn btn-primary" id="button_next" type="button" onclick="loadNextImage();" style="float: right;">
            Next
        </button>

        <!-- Adding progress bar -->
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
        <p id="progress-text">0/0 images rated in current set</p>

		<!-- initialising variables to store in Otree dataframe -->
		<div>
			<input type="hidden" name="imageIndices" id="imageIndices" />
			<input type="hidden" name="imageRatings" id="imageRatings" />
            <input type="hidden" name="stimIndices" id="stimIndices" />
		</div>

  </div>
  
</div>
<!-- JavaScript that loads images, enables ratings, and stores data -->
<script src="{% static 'similarity/drawing_nomoderation_BTL.js' %}" type="text/javascript"></script>

<script type="text/javascript">

// storing the id_in_group variable from the ____init____.py in a JS variable
let idInGroup = {{ id_in_group }};
let roundNumber = {{ round_number }};

// fetching 'stim_set_size' parameter from the python back-end
let drawingsPrRound = {{ drawings_pr_round }};
console.log("drawings_pr_round:", drawingsPrRound);

// function to load the stimuli from the JSON file
let stimList = {}; 

function getDataSync(index) {
    let request = new XMLHttpRequest();
    // notice that the path to the setListJSON file is here modified from 3 to 2
    request.open("GET", "/static/similarity/stim_lists/setListJSON_3.JSON", false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        let key = index.toString();
        stimList = { [key] : data[key] }; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}

// we can now get the specific stim set assigned to the participant's ID
getDataSync(idInGroup);

// logging variables for debugging purposes
console.log("Participant ID_IN_GROUP:", idInGroup)
console.log("stim list", stimList);
console.log("stim entry", stimList[idInGroup][0]);
console.log("round number", roundNumber)

// computing the final number of drawings to be rated (only for the final round)
let roundFactor = (roundNumber + 1)/2
let ratedImages = drawingsPrRound * (roundFactor-1);
let remainingPairs = stimList[idInGroup].length - ratedImages;

console.log("Remaining pairs to be rated:", remainingPairs);
console.log("actual set size:", stimList[idInGroup].length)

// defining the starting index based on the round number
let currentImageIndex = (roundFactor-1) * drawingsPrRound + 1; // NOTE! that this is the 'outer-index' - not the index of the actual drawing pair
console.log("starting index", currentImageIndex);

// computing round set size (necessary step since the set sizes vary by 1 entry)
let roundSetSize;

if (remainingPairs % drawingsPrRound == 0) {
    roundSetSize = drawingsPrRound;
} else {
    roundSetSize = remainingPairs; // notice that this is directly tied to the size of the stim set
}

console.log("roundSetSize", roundSetSize);

// then, we need to fetch the entry in the stim set corresponding to this value

// Function to construct the image URL dynamically
function getImageUrl(index) {
    let stimIndex = stimList[idInGroup][index-1]; //the 'key' needs to be the idInGroup; the -1 is due to the 0 indexing of JS
    console.log(`/static/similarity/images/batch_2/test_pair_${stimIndex}_batch_2.png`);
    console.log('current stim index =', stimIndex)
    return `/static/similarity/images/batch_2/test_pair_${stimIndex}_batch_2.png`;
    return stimIndex;
}

function getStimIndex(index) {
    let stimIndex = stimList[idInGroup][index-1];
    return stimIndex;
}

//let currentImageIndex = 1;
let sliderValue = -1; // Initialize the slider value

// Initializing lists to store variables
let imageIndices = [];
let imageRatings = [];
let stimIndices = [];

// Function to update the displayed slider value
function updateSliderValue(value) {
    document.getElementById('sliderValue').textContent = value;
    sliderValue = value; // Update the global slider value
    checkSliderValue(value); // Check the slider value to enable/disable the button
    console.log(value);
}

// Function to load the next image dynamically and store the data in the array
function loadNextImage() {
	
    // fetch the current stimIndex
    let stimIndex = getStimIndex(currentImageIndex)
    console.log("stimIndex", stimIndex)

    // Append current outer image index, stim index, and slider value to the lists
    imageIndices.push(currentImageIndex);
    imageRatings.push(sliderValue);
    stimIndices.push(stimIndex);

    // Update hidden input fields
    document.getElementById('imageIndices').value = JSON.stringify(imageIndices);
    document.getElementById('imageRatings').value = JSON.stringify(imageRatings);
    document.getElementById('stimIndices').value = JSON.stringify(stimIndices);

	// Adding one to the img idx
    if (currentImageIndex < stimList[idInGroup].length) {
		currentImageIndex++; // Move to the next image
	};

	// Submitting data when the n-th imageRating has been pushed to the list;
	// this also automatically takes us further into the Otree flow (new page or round?)
	if (imageIndices.length == roundSetSize) { //roundSetSize
		document.forms[0].submit(); // submits data
		console.log("data logged");
	};

    // Construct the next image URL dynamically
    let nextImageUrl = getImageUrl(currentImageIndex);
    console.log("currentImageIndex", currentImageIndex)

    // Check if the image exists
    let img = new Image();
    img.onload = function () {
        document.getElementById('imagePair').src = nextImageUrl;
        document.getElementById('slider').value = 50;
        updateSliderValue(50);
        document.getElementById("button_next").disabled = true; // Disable the next button
    };
    img.onerror = function () {
        alert("No more images to rate.");
    };

    img.src = nextImageUrl; // Trigger loading check

    // updating progress bar
    let progress = (imageIndices.length / roundSetSize) * 100;
        document.getElementById('progress-bar').style.width = progress + '%';
        document.getElementById('progress-text').innerText = `${imageIndices.length}/${roundSetSize} images rated in current set`;

}

// Load the first image when the page loads
console.log("roundNumber =", roundNumber)
console.log("drawingsPrRound =", drawingsPrRound)

window.onload = function () {
    document.getElementById('imagePair').src = getImageUrl(currentImageIndex);
    let progress = (imageIndices.length / roundSetSize) * 100;
        document.getElementById('progress-bar').style.width = progress + '%';
        document.getElementById('progress-text').innerText = `${imageIndices.length}/${roundSetSize} images rated in current set`;
};

// Function to enable button once the slider has been moved
function checkSliderValue(value) {
	if (value > -1) { // set to -1 to make 0 a useable rating
		document.getElementById("button_next").disabled = false;
	} else {
		document.getElementById("button_next").disabled = true;		}
} 

// Initial check to disable the "Next" button if the slider value is 0
document.getElementById("button_next").disabled = true;

</script>

<br />

{% endblock %}