{% block title %}
<span style="display: none;">Experiment: Practice</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'similarity/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'similarity/html2canvas.js' }}" type="text/javascript"></script>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
     setTimeout(function() {
         div = document.querySelector(".delay");
         if (div) div.style.position = "inherit"
     }, 2000)

 });
</script>
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="whole delay" style="margin-top: 25px;">

        <!-- instruction element -->
        <div id="instruction-box" style="display: flex; justify-content: center; align-items: center;">
            <p style="display: flex; 
                align-items: center;
                text-align: center; 
                font-size: 27.5px; 
                font-size: clamp(18px, 4vw, 27px);
                margin-top: 50px; 
                margin-bottom: 30px; 
                background-color: lightgray; 
                padding: 8px 10px;
                border-radius: 5px;
                width: 600px; 
                height: 100px;           
                max-width: 90vw;
                min-width: 400px;     
                word-wrap: break-word;">
                {{ round_instruction }}
            </p>
        </div>

        <div id="draw" style="margin: 0 auto;">
            <label>
                <!-- Adding image for testing; this is overwritten by the JS and is just a placeholder -->
               <img id="imagePair" src="{{ static 'similarity/practice_images/practice.png' }}" alt="Temporary Image" style="width: 100%; max-width: 600px; padding: 40px; display: block">
            </label>
        </div> 
        
    <!-- slider input element -->
    <div style="text-align: center; margin-top: 20px;">
        <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
        
        <!-- LOW label -->
        <span style="background-color: lightgray; padding: 5px 10px; border-radius: 5px; font-weight: bold;">LOW</span>
        
        <!-- Slider and label -->
        <div style="display: flex; align-items: center;">
            <!-- <label for="slider" style="margin-right: 10px;">Similarity:</label> -->
            <input 
            type="range" 
            id="slider" 
            name="slider" 
            min="0" 
            max="100" 
            value="50" 
            oninput="updateSliderValue(this.value)" 
            style="width: 300px; height: 20px;"
            >
        </div>
      
        <!-- 'HIGH' label -->
        <span style="background-color: lightgray; padding: 5px 10px; border-radius: 5px; font-weight: bold;">HIGH</span>
  
        </div>

        <!-- Display slider value (hidden) -->    
        <span id="sliderValue" style="visibility: hidden;">50</span>

        </div>
        
        <!-- hidden formfields for storing data -->
        <div id="formfield_errors">
			{{ formfield_errors 'imageIndices' }}
			{{ formfield_errors 'imageRatings' }}
            {{ formfield_errors 'stimIndices' }}
            {{ formfield_errors 'ratingTimes' }}
            {{ formfield_errors 'isAttentionCheck'}}
            {{ formfield_errors 'withinExpectedRatingRange'}}
            {{ formfield_errors 'originalFileName'}}
        </div>

        <br>

        <!-- 'Next image' button; notice that this also runs the 'loadNextImage' function -->
        <button class="otree-btn-next btn btn-primary" id="button_next" type="button" onclick="loadNextImage();" style="float: right;">
            Next
        </button>

        <!-- progress text -->
        <div id="progress-container">
            <p id="progress-text" style="background-color: #eee; padding: 5px 10px; border-radius: 5px; width: fit-content;">
                Block n of 3 <br>
                Trial i of TOTAL
            </p>
        </div>

		<!-- initialising variables to store in Otree dataframe -->
		<div>
			<input type="hidden" name="imageIndices" id="imageIndices" />
			<input type="hidden" name="imageRatings" id="imageRatings" />
            <input type="hidden" name="stimIndices" id="stimIndices" />
            <input type="hidden" name="ratingTimes" id="ratingTimes" />
            <input type="hidden" name="isAttentionCheck" id="isAttentionCheck" />
            <input type="hidden" name="withinExpectedRatingRange" id="withinExpectedRatingRange" />
            <input type="hidden" name="originalFileName" id="originalFileName" />

		</div>

  </div>
  
</div>

<!-- JavaScript that loads images, enables ratings, and stores data -->
<script type="text/javascript">

// hides the progressText from beginning
const progressText = document.getElementById('progress-text');
progressText.style.display = 'none';

// defining the t0 variable for RT computation
let t0 = 0;

// setting up a system to detect when the  first image is displayed
MutationObserver = window.MutationObserver || window.WebKitMutationObserver;

var observer = new MutationObserver(function(mutations, observer) {
    // fires when a mutation occurs
    // console.log(mutations, observer);
    // console.log("first image appearance detected; RT reset");
    t0 = performance.now();
    // shows progress texts as image appears
    progressText.style.display = '';
    document.getElementById('progress-text').innerText = `Block ${(roundFactor)} of 3\nTrial ${(trialInBlock)} of ${roundSetSize}`;
});

// defining the element to be observed by the observer
const target = document.querySelector('.whole.delay');

// defining the attributes of that element to be observed
observer.observe(target, {
    attributes: true
});

// storing the id_in_group variable from the ____init____.py in a JS variable
let idInGroup = {{ id_in_group }};
let roundNumber = {{ round_number }};

// importing parameters from the python back-end
let drawingsPrRound = {{ drawings_pr_round }};
let attentionChecksInTotal = {{ num_attention_checks_in_total }}

console.log("drawings_pr_round:", drawingsPrRound);
console.log("attentionChecksInTotal:", attentionChecksInTotal);

// function to load the stimuli from the JSON file
let stimList = {}; 

function getDataSync(index) {
    let request = new XMLHttpRequest();
    // notice that the path to the setListJSON file is here modified from 3 to 2 (the smaller internal test set)
    request.open("GET", "/static/similarity/stim_lists/setListAttCheckall_studies_5_ratings.JSON", false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        let key = index.toString();
        stimList = { [key] : data[key] }; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}

// we can now get the specific stim set assigned to the participant's ID
getDataSync(idInGroup);

// similarly, the FileNameList is loaded
let fileNameList = {}; 

function getFileNames() {
    let request = new XMLHttpRequest();
    request.open("GET", "/static/similarity/stim_file_name_lists/stimuliFileNameList_study_1_2_3_iteration_1.JSON", false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        fileNameList = data; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}

getFileNames();

// logging variables for debugging purposes
console.log("Participant ID_IN_GROUP:", idInGroup);
console.log("stim list", stimList);
console.log("file name list (index test)", fileNameList[0]);
console.log("stim entry", stimList[idInGroup][0]);
console.log("round number", roundNumber);

// first, defining the attention check array and creating a data base
const attentionFileNames = ["high_1.png", 
"high_2.png", 
"high_3.png", 
"low_4.png", 
"low_5.png", 
"low_6.png"];

// these are placeholders
const expectedRatings = ["high", "high", "high", "low", "low", "low"];

// computing the final number of drawings to be rated
let roundFactor = (roundNumber + 1)/2;
let ratedImages = drawingsPrRound * (roundFactor-1);
let remainingPairs = stimList[idInGroup].length - ratedImages;
let totalPairs = stimList[idInGroup].length;

console.log("Remaining pairs to be rated:", remainingPairs);
console.log("actual set size:", stimList[idInGroup].length);

// defining the starting index based on the round number (this also works as a sort of memory; increasing the index as the round changes)
let currentImageIndex = (roundFactor-1) * drawingsPrRound + 1; // NOTE! that this is the 'outer-index' - not the index of the actual drawing pair
console.log("starting index", currentImageIndex);

// setting the roundSize
let roundSetSize;

    if (roundNumber == 1) {
        roundSetSize = drawingsPrRound; // handles logic for first rating round (round 1) 
    } else if (roundNumber == 3) {
        roundSetSize = drawingsPrRound; // handles logic for second rating round (round 3)
    } else {
        roundSetSize = remainingPairs; // handles logic for third rating round (round 5)
    };

// console.log("roundSetSize", roundSetSize);

// Function to construct the stimuli image URL dynamically 
function getImageUrl(index) {
    
    const stimIndex = stimList[idInGroup][index-1];
    const match = stimIndex.match(/^a([1-6])$/);

    if (match) {

        const attCheckIndex = parseInt(match[1], 10) - 1; // Extracts the number and turns it into an integer        
        const attCheckFileName = attentionFileNames[attCheckIndex];
        const expectedRating = expectedRatings[attCheckIndex];

        return {
            filePath: `/static/similarity/attention_check_images/${attCheckFileName}`,
            stimIndex: stimIndex,
            attCheckTest: true,
            expectedRating: expectedRating, 
            fileName: attCheckFileName,
            attCheckIndex: attCheckIndex,
        }

    } else {

        const stimFileIndex = parseInt(stimIndex, 10);
        const stimFileName = fileNameList[stimFileIndex];

        return {
            filePath: `/static/similarity/images/all_drawings/${stimFileName}`,
            stimIndex: stimIndex,
            attCheckTest: false,
            expectedRating: 'null',
            fileName: stimFileName,
        } 
    };
};

// function to load a specific entry of the JSON stimuli file for a particular participant
function getStimIndex(index) {
    let stimIndex = stimList[idInGroup][index-1];
    return stimIndex;
};

// let currentImageIndex = 1;
let sliderValue = -1; // Initialize the slider value
let result; // this is a global variable that will be used to store the image file path + result of the 'is attention check test'

// Initializing lists to store variables that will be sent to the Otree database
let imageIndices = [];
let imageRatings = [];
let stimIndices = [];
let ratingTimes = [];
let isAttentionCheck = [];
let withinExpectedRatingRange = [];
let originalFileName = [];

// Initializing new trial-in-block variable
let trialInBlock = 1;

// Function to update the displayed slider value
function updateSliderValue(value) {
    document.getElementById('sliderValue').textContent = value;
    sliderValue = value; // Update the global slider value
    checkSliderValue(value); // Check the slider value to enable/disable the button
}

// Function to test whether the attention check rating is in the desired range

// define expected ratings for attChecks (could be turned into a Otree variable, to be defined in the python script)
const highRatingThreshold = 60;
const lowRatingThreshold = 40; 

function attCheckWithinRange() {

    const type = result.expectedRating;
    const rating = sliderValue;

    let ratingWithinRange;

    if (type === "high") {
        ratingWithinRange = rating > highRatingThreshold;
    } else if (type === "low") {
        ratingWithinRange = rating < lowRatingThreshold;
    }

    return [ratingWithinRange, type, parseInt(rating, 10)]; // returns a true/false + type indicator + actual rating
}

// function to update instruction text if attention check
function updateInstruction() {

    const instructionBox = document.getElementById('instruction-box');
    const paragraph = instructionBox.querySelector('p');

    if (result.attCheckTest && result.expectedRating == 'high') {
        paragraph.innerText = 'You must rate the similarity of this pair as extremely high. This is an attention check.';
    } else if (result.attCheckTest && result.expectedRating == 'low') {
        paragraph.innerText = 'You must rate the similarity of this pair as extremely low. This is an attention check.';
    } else {
        paragraph.innerText = 'How do you rate the similarity of these drawings? Use the scale below to respond.';
    };
};

// Load the first image when the page loads
window.onload = function () {

    // load the first image
    result = getImageUrl(currentImageIndex);
    document.getElementById('imagePair').src = result.filePath;

    // reset timer
    t0 = performance.now();

    updateInstruction();
};

// Function to enable button once the slider has been moved
function checkSliderValue(value) {
	if (value > -1) { // set to -1 to make 0 a useable rating
		document.getElementById("button_next").disabled = false;
	} else {
		document.getElementById("button_next").disabled = true;		}
} 

// Initial check to disable the "Next" button at page load
document.getElementById("button_next").disabled = true;

// Using the 'enter' key as an alternative to clicking the 'next' button
document.addEventListener("keydown", function(event) {
  if (event.key === "Enter") {
    const slider = document.getElementById('slider');
    const condition = (slider.value != 50);

    if (condition) {
      event.preventDefault();
      document.activeElement.blur();
      loadNextImage();
    }
  }
});

// Function to load the next image dynamically and store the data in the array - this is the main function
// This function also handles the loading of attention checks - currently based on a probability but the condition can be changed
function loadNextImage() {

    // make a time stamp for computing reaction times
    let t1 = performance.now();
    let RT = t1 - t0;
    // console.log(`Rating took ${RT} milliseconds.`);
    t0 = performance.now(); // reset timer

    // fetch the stimIndex from the JSON file
    let stimIndex = getStimIndex(currentImageIndex) // this currentImageIndex matches the entry order in the JSON
    // console.log("stimIndex", stimIndex) // remember; the stimIndex is the actual ID of the drawing in the JSON file

    // Append current outer image index, stim index, and slider value to the lists
    imageIndices.push(currentImageIndex);
    imageRatings.push(sliderValue);
    stimIndices.push(stimIndex);
    ratingTimes.push(RT);
    isAttentionCheck.push(result.attCheckTest);
    originalFileName.push(result.fileName);

    // Update hidden input fields regardless of stimuli / attention check
    document.getElementById('imageIndices').value = JSON.stringify(imageIndices);
    document.getElementById('imageRatings').value = JSON.stringify(imageRatings);
    document.getElementById('stimIndices').value = JSON.stringify(stimIndices);
    document.getElementById('ratingTimes').value = JSON.stringify(ratingTimes);
    document.getElementById('isAttentionCheck').value = JSON.stringify(isAttentionCheck);
    document.getElementById('originalFileName').value = JSON.stringify(originalFileName);
    
    // Add the ratingWithinRange variable to Otree if the img is an attention check
    if (result.attCheckTest) {
        // console.log("checker", attCheckWithinRange());
        // update the variable and push it to otree
        withinExpectedRatingRange.push(attCheckWithinRange());
        document.getElementById('withinExpectedRatingRange').value = JSON.stringify(withinExpectedRatingRange);
    }

    // Adding one to the img idx
    if (currentImageIndex < stimList[idInGroup].length) {
		currentImageIndex++; // Move to the next image
        trialInBlock++;
	};

	// Submitting data when the n-th imageRating has been pushed to the list;
	// this also automatically takes us further into the Otree flow (new page or round)
	if (imageIndices.length == roundSetSize) { //roundSetSize
		document.forms[0].submit(); // submits data
        trialInBlock = 0;
		console.log("data logged");
        return;
	};

    // Construct the next image URL dynamically - this is also an 'isAttentionCheck' test
    result = getImageUrl(currentImageIndex);
    let nextImageUrl = result.filePath;

    // Check if the image exists
    let img = new Image();
    img.onload = function () {
            
        // these are call-backs to the HTML structure in the top of the page
        document.getElementById('imagePair').src = nextImageUrl;
        document.getElementById('slider').value = 50;
        updateSliderValue(50);
        document.getElementById("button_next").disabled = true; // Disable the next button
    };

    img.onerror = function () {
        alert("No more images to rate.");
    };

    // Trigger loading check
    img.src = nextImageUrl; 

    // Updating instruction text
    updateInstruction();

    // updating progress bar
    let progress = ((currentImageIndex) / totalPairs) * 100;
        // document.getElementById('progress-bar').style.width = progress + '%';
        document.getElementById('progress-text').innerText = `Block ${(roundFactor)} of 3\nTrial ${(trialInBlock)} of ${roundSetSize}`;

};

</script>

<br />

{% endblock %}