{% block title %}
<span style="display: none;">Experiment: Practice</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'similarity/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'similarity/html2canvas.js' }}" type="text/javascript"></script>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
     setTimeout(function() {
         div = document.querySelector(".delay");
         if (div) div.style.position = "inherit"
     }, 2000)

 });
</script>
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="whole delay">

        <p style="text-align: center; font-size: 20px; text-align: center; margin-top: 50px; margin-bottom: 30px;">
            {{ round_instruction }}
        </p>

        <div id="draw">
            <label>
                <!-- Adding image for testing; this is overwritten by the JS and is just a placeholder -->
               <img id="imagePair" src="{{ static 'similarity/images/batch_1/test_pair_1_batch_1.png' }}" alt="Temporary Image" style="width: 100%; max-width: 600px; padding: 40px;">
            </label>
        </div> 
        
        <!-- slider input element -->
        <div style="text-align: center; margin-top: 20px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <label for="slider" style="margin-right: 10px;">Similarity:</label>
                <input type="range" id="slider" name="slider" min="0" max="100" value="50" oninput="updateSliderValue(this.value)" style="width: 300px; height: 20px;">
                <span id="sliderValue" style="margin-left: 10px;">50</span>
            </div>
        </div>
        
        <!-- hidden formfields for storing data -->
        <div id="formfield_errors">
			{{ formfield_errors 'imageIndices' }}
			{{ formfield_errors 'imageRatings' }}
            {{ formfield_errors 'stimIndices' }}
        </div>

        <br>

        <!-- 'Next image' button; notice that this also runs the 'loadNextImage' function -->
        <button class="otree-btn-next btn btn-primary" id="button_next" type="button" onclick="loadNextImage();" style="float: right;">
            Next
        </button>

        <!-- progress bar -->
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
        <p id="progress-text">0/0 images rated in current set</p>

		<!-- initialising variables to store in Otree dataframe -->
		<div>
			<input type="hidden" name="imageIndices" id="imageIndices" />
			<input type="hidden" name="imageRatings" id="imageRatings" />
            <input type="hidden" name="stimIndices" id="stimIndices" />
		</div>

  </div>
  
</div>

<!-- JavaScript that loads images, enables ratings, and stores data -->
<script src="{% static 'similarity/drawing_nomoderation_BTL.js' %}" type="text/javascript"></script>

<script type="text/javascript">

// storing the id_in_group variable from the ____init____.py in a JS variable
let idInGroup = {{ id_in_group }};
let roundNumber = {{ round_number }};

// importing parameters from the python back-end
let drawingsPrRound = {{ drawings_pr_round }};
let attentionChecksInTotal = {{ num_attention_checks_in_total }}

console.log("drawings_pr_round:", drawingsPrRound);
console.log("attentionChecksInTotal:", attentionChecksInTotal);

// function to load the stimuli from the JSON file
let stimList = {}; 

function getDataSync(index) {
    let request = new XMLHttpRequest();
    // notice that the path to the setListJSON file is here modified from 3 to 2 (the smaller internal test set)
    request.open("GET", "/static/similarity/stim_lists/setListAttCheck_2a.JSON", false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        let key = index.toString();
        stimList = { [key] : data[key] }; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}

// we can now get the specific stim set assigned to the participant's ID
getDataSync(idInGroup);

// similarly, the FileNameList is loaded
let fileNameList = {}; 

function getFileNames() {
    let request = new XMLHttpRequest();
    // notice that the path to the setListJSON file is here modified from 3 to 2 (the smaller internal test set)
    request.open("GET", "/static/similarity/stim_file_name_lists/stimuliFileNameList_1.JSON", false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        fileNameList = data; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}

getFileNames();

// logging variables for debugging purposes
console.log("Participant ID_IN_GROUP:", idInGroup);
console.log("stim list", stimList);
console.log("file name list (index test)", fileNameList[0]);
console.log("stim entry", stimList[idInGroup][0]);
console.log("round number", roundNumber);

// // transforming the stim list into a data base
// function createDatabase(array, condition, expectedRatings = []) {
//   return array.map((number, i) => ({
//     value: number,
//     isAttentionCheck: condition,
//     expectedRating: expectedRatings[i] !== undefined ? expectedRatings[i] : null
//   }));
// };

// let stimListDB = createDatabase(stimList[idInGroup], condition = 'false');
// console.log("stimList DB:", stimListDB);

// adding the attention checks
// we want to add n number of attention checks to our stimListDB without replacing any of the original entries
// we also want this happen on the ?round? or global level – maybe global is ok!

// we can use splice to add the attention checks at random positions without replacing the original entries

// first, defining the attention check array and creating a data base
const attentionFileNames = ["high_1.png", 
"high_2.png", 
"high_3.png", 
"low_1.png", 
"low_2.png", 
"low_3.png"]

// // setting up expected rating ranges for each type of attention check
// // these are quite generous – perhaps they could be a bit more restricted
// const attetionCheckExpectedRanges = ["[50-100]", "[50-100]", "[50-100]", "[0-50]", "[0-50]", "[0-50]"]

// // assembling the data frame (we can notice that all of this could be handled offline . . .)
// let attentionCheckDB = createDatabase(attentionFileNames, condition = 'true', expectedRatings = attetionCheckExpectedRanges);
// console.log("attCheck DB:", attentionCheckDB);

// computing the final number of drawings to be rated
let roundFactor = (roundNumber + 1)/2
let ratedImages = drawingsPrRound * (roundFactor-1);
let remainingPairs = stimList[idInGroup].length - ratedImages;

console.log("Remaining pairs to be rated:", remainingPairs);
console.log("actual set size:", stimList[idInGroup].length)

// defining the starting index based on the round number
let currentImageIndex = (roundFactor-1) * drawingsPrRound + 1; // NOTE! that this is the 'outer-index' - not the index of the actual drawing pair
console.log("starting index", currentImageIndex);

// computing round set size (necessary step since the set sizes vary by 1 entry)
// this makes sure that the final set is always the true size of the remaining drawings, even when the number
// of drawings doesn't divide evenly into the number of drawings pr. round
let roundSetSize;

    if (remainingPairs % drawingsPrRound == 0) {
        roundSetSize = drawingsPrRound;
    } else {
        roundSetSize = remainingPairs; // notice that this is directly tied to the size of the stim set
    }

console.log("roundSetSize", roundSetSize);

// Function to construct the stimuli image URL dynamically 
function getImageUrl(index) {
    const stimIndex = stimList[idInGroup][index-1];
    
    console.log("stimIndex return", stimIndex);
    
    const match = stimIndex.match(/^a([1-6])$/);
    
    console.log("match", match);

    if (match) {
        console.log("is attention check");

        const attCheckIndex = parseInt(match[1], 10); // Extracts the number and turns it into an integer
        const attCheckFileName = attentionFileNames[attCheckIndex];
        
        console.log(attCheckFileName); // Output: "three"

        return `/static/similarity/attention_check_images/${attCheckFileName}`;
        return stimIndex;

    } else {
        console.log("is not attention check");

        const stimFileIndex = parseInt(stimIndex, 10);
        const stimFileName = fileNameList[stimFileIndex];

        return `/static/similarity/images/batch_3/${stimFileName}`;
        return stimIndex;
    };
};

// function to load a specific entry of the JSON stimuli file for a particular participant
function getStimIndex(index) {
    let stimIndex = stimList[idInGroup][index-1];
    return stimIndex;
    console.log("actual stimIndex", stimIndex)
};

// function to load the path of a random attention check image (these could be combined into a single function)
// function getAttentionCheckUrl(randomInteger) {
//     let attentionIndex = splicedDF[index-1].value;
//     return `/static/similarity/attention_check_images/${attentionIndex}`;
// };

// let currentImageIndex = 1;
let sliderValue = -1; // Initialize the slider value

// Initializing lists to store variables
let imageIndices = [];
let imageRatings = [];
let stimIndices = [];

// Function to update the displayed slider value
function updateSliderValue(value) {
    document.getElementById('sliderValue').textContent = value;
    sliderValue = value; // Update the global slider value
    checkSliderValue(value); // Check the slider value to enable/disable the button
    console.log(value);
}

// Function to load the next image dynamically and store the data in the array - this is the main function
// This function also handles the loading of attention checks - currently based on a probability but the condition can be changed
function loadNextImage() {
	
    // fetch the stimIndex from the JSON file
    let stimIndex = getStimIndex(currentImageIndex) // this currentImageIndex matches the entry order in the JSON
    console.log("stimIndex", stimIndex) // remember; the stimIndex is the actual ID of the drawing in the JSON file

    // Append current outer image index, stim index, and slider value to the lists
    imageIndices.push(currentImageIndex);
    imageRatings.push(sliderValue);
    stimIndices.push(stimIndex);

    // Update hidden input fields
    document.getElementById('imageIndices').value = JSON.stringify(imageIndices);
    document.getElementById('imageRatings').value = JSON.stringify(imageRatings);
    document.getElementById('stimIndices').value = JSON.stringify(stimIndices);

	// Adding one to the img idx
    if (currentImageIndex < stimList[idInGroup].length) {
		currentImageIndex++; // Move to the next image
	};

	// Submitting data when the n-th imageRating has been pushed to the list;
	// this also automatically takes us further into the Otree flow (new page or round)
	if (imageIndices.length == roundSetSize) { //roundSetSize
		document.forms[0].submit(); // submits data
		console.log("data logged");
	};

    // Construct the next image URL dynamically
    let nextImageUrl = getImageUrl(currentImageIndex);
    console.log("currentImageIndex", currentImageIndex)

    // Check if the image exists
    let img = new Image();

    img.onload = function () {
            
        // these are call-backs to the HTML structure in the top of the page
        document.getElementById('imagePair').src = nextImageUrl;
        document.getElementById('slider').value = 50;
        updateSliderValue(50);
        document.getElementById("button_next").disabled = true; // Disable the next button
    };

    img.onerror = function () {
        alert("No more images to rate.");
    };

    // Trigger loading check
    img.src = nextImageUrl; 

    // updating progress bar
    let progress = (imageIndices.length / roundSetSize) * 100;
        document.getElementById('progress-bar').style.width = progress + '%';
        document.getElementById('progress-text').innerText = `${imageIndices.length}/${roundSetSize} images rated in current set`;

}

// Load the first image when the page loads - is this also what displays any given image though?
console.log("roundNumber =", roundNumber)
console.log("drawingsPrRound =", drawingsPrRound)

window.onload = function () {
    document.getElementById('imagePair').src = getImageUrl(currentImageIndex);
    let progress = (imageIndices.length / roundSetSize) * 100;
        document.getElementById('progress-bar').style.width = progress + '%';
        document.getElementById('progress-text').innerText = `${imageIndices.length}/${roundSetSize} images rated in current set`;
};

// Function to enable button once the slider has been moved
function checkSliderValue(value) {
	if (value > -1) { // set to -1 to make 0 a useable rating
		document.getElementById("button_next").disabled = false;
	} else {
		document.getElementById("button_next").disabled = true;		}
} 

// Initial check to disable the "Next" button at page load
document.getElementById("button_next").disabled = true;

</script>

<br />

{% endblock %}