
{{ if not lastround }}
<div class="alert alert-danger">Select the last round. </div>
{{ else }}

<p>Order of participants for condition 3: communication</p>


<ul>
  {{ for group in order1 }}
  <li>{{ group.all }} {{ if group.old }}-- when {{ group.old }} is done, call in participant {{ group.new }} {{ endif }}</li>
  {{ endfor }}
</ul>


<ul>
  {{ for group in order2 }}
  <li>{{ group.all }} {{ if group.old }}-- when {{ group.old }} is done, call in participant {{ group.new }} {{ endif }}</li>
  {{ endfor }}
</ul>

{{ endif }}
