
{% block title %}
<span style="display: none;">C3-P{{player.id_in_subsession}} </span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'esymb_transmission/drawing.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{{ include C.INSTRUCTIONS_TEMPLATE_RECEIVER }}

<div id="wrapper">

  <div id="feedback" class="left">
	{{ if feedback_table }}
	<table class="table table-sm">
	  <thead>
		<tr>
		  <th scope="col"></th>
		  <th scope="col">Drawing</th>
		  <th scope="col">Your Guess</th>
		  <th scope="col">Correct?</th>
		</tr>
	  </thead>
	  <tbody>
		{{ for row in feedback_table }}
		<tr>
		  <th scope="row">{{ row.round }}</th>
		  <td><img src="{{ row.drawing }}"  style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td><img src="{{ row.guess }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td>{{ row.correct }}</td>
		</tr>
		{{ endfor }}
	  </tbody>
	</table>
	{{ endif }}
  </div>
  <div class="right">
	<div id="target">
	  <p>The SENDER sent you this drawing:</p>
	  <img src="{{ drawing }}" width="{{C.IMG_DIM}}px">
	</div>
	<p style="clear: left;">1. Chose a concept:</p>
	<div id="guess">
	  {{ for s in guesslist }}
	  <label>
		<input required type="radio" name="guess" value="{{ s.value }}">
		<img src="{{ s.img }}" alt="{{ s.value }}" width="{{C.IMG_DIM}}px" onclick="grayPatterns();">
	  </label>
	  {{ endfor }}
	</div>
	<br />
	
	<button class="otree-btn-next btn btn-primary" style="float: right;">
	  2. Send
	</button>
  </div>

</div>

{{ formfield_errors 'guess' }}
<br />


{% endblock %}
