
{% block title %}
<span style="display: none;">C3-P{{player.id_in_subsession}} </span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'esymb_transmission/drawing.js' }}" type="text/javascript"></script>
<script src="{{ static 'esymb_transmission/html2canvas.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

{{ include C.INSTRUCTIONS_TEMPLATE_SENDER }}
<div class="modal" tabindex="-1" role="dialog", id="modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Communication {{ if correct_status }}succeeded{{ else }}failed{{ endif }}</h5>
      </div>
      <div class="modal-body">
		{{ correct_icon }}
      </div>
    </div>
  </div>
</div>
<div id="wrapper">
  
  <div id="feedback" class="left">
	{{ if feedback_table }}
	<table class="table table-sm">
	  <thead>
		<tr>
		  <th scope="col"> </th>
		  <th scope="col">Concept</th>
		  <th scope="col">Drawing</th>
		  <th scope="col">Success?</th>
		</tr>
	  </thead>
	  <tbody>
		{{ for row in feedback_table }}
		<tr>
		  <th scope="row">{{ row.round }}</th>
		  <td><img src="{{ row.concept }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td><img src="{{ row.drawing }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td>{{ row.correct }}</td>
		</tr>
		{{ endfor }}
	  </tbody>
	</table>
	{{ endif }}
  </div>
  
  <div class="right">
	
	
	{{ formfield_errors 'pattern' }}
	{{ formfield_errors 'drawing' }}
	{{ formfield_errors 'linecount' }}
	<div id="concept">
	  {{ for c in conceptlist }}
	  <img src="{{ c.concept }}"  width="{{C.IMG_DIM_SMALL}}px" height="{{C.IMG_DIM_SMALL}}px" class="{{c.checked}}">
	  {{ endfor }}
	</div>
	
	<p>1. Chose a pattern</p>
	<div id="pattern">
	  {{ for s in patterns }}
	  <label>
		<input required type="radio" name="pattern" value="{{ s.value }}">
		<img src="{{ s.image }}" alt="{{ s.value }}" width="{{C.IMG_DIM}}px" height="{{C.IMG_DIM}}px" onclick="deleteDrawing(); grayPatterns();">
	  </label>
	  {{ endfor }}
	</div>
	
	
	<div id="draw" sty>
	  <p>2. Draw:</p>
	  
	  <label>
		<input required type="hidden" name="drawing" id="drawing">
		<input required type="hidden" name="linecount" id="linecount">
		
		<div id="surface" style="background-image: url('{{surface}}');">
		  <div id="canvas" class="canvas"></div>
		</div>
	  </label>
	</div>
	
	
	<button class="otree-btn-next btn btn-primary" type="button" onclick="submit_drawing_moderation(send_drawing_moderation_con3);" style="float: right;">
	  3. Send
	</button>
  </div>
  
</div>

{{ formfield_errors 'drawing' }}

<br />


{% endblock %}
