
{{ extends 'otree/WaitPage.html' }}

{% block title %}
<span style="display: none;">C3-P{{player.id_in_subsession}} </span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}
{{ block content }}
{{ if player.role == C.SENDER_ROLE }}
<div id="wrapper">
  <div class="left">
	{{ if feedback_table }}
	<table class="table table-sm">
	  <thead>
		<tr>
		  <th scope="col"></th>
		  <th scope="col">Concept</th>
		  <th scope="col">Drawing</th>
		  <th scope="col">Guess</th>
		</tr>
	  </thead>
	  <tbody>
		{{ for row in feedback_table }}
		<tr>
		  <th scope="row">{{ row.round }}</th>
		  <td><img src="{{ row.concept }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td><img src="{{ row.drawing }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td>{{ row.correct }}</td>
		</tr>
		{{ endfor }}
	  </tbody>
	</table>
	{{ endif }}
  </div>
  <div class="center" style="margin: 5px;">
	<p>Waiting for the RECEIVER to guess which concept you were trying to communicate.</p>
  </div>
  <div class="right">
  </div>
</div>
{{ else }}
<p>Waiting for the other participants.</p>
{{ endif }}
{{ endblock }}
