{% block title %}
<span style="display: none;">Experiment: Practice</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'similarity/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'similarity/html2canvas.js' }}" type="text/javascript"></script>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
     setTimeout(function() {
         div = document.querySelector(".delay");
         if (div) div.style.position = "inherit"
     }, 2000)

 });
</script>
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="whole delay">

        <!-- instruction element -->
        <div style="display: flex; justify-content: center; align-items: center;">
            <p style="text-align: center; 
                font-size: 27.5px; 
                margin-top: 50px; 
                margin-bottom: 30px; 
                background-color: lightgray; 
                padding: 8px 10px;
                border-radius: 5px;
                width: 600px;            
                max-width: 90vw;          
                word-wrap: break-word;">
                {{ round_instruction }}
            </p>
        </div>

        <div id="draw">
            <label>
                <!-- Adding image for testing; this is overwritten by the JS and is just a placeholder -->
               <img id="imagePair" src="{{ static 'similarity/practice_images/practice_1.png' }}" alt="Temporary Image" style="width: 100%; max-width: 600px; padding: 40px;">
            </label>
        </div> 
        
        <!-- Add slider input element -->
        <!-- <div style="text-align: center; margin-top: 20px;">
            <div style="display: flex; justify-content: center; align-items: center;">
                <label for="slider" style="margin-right: 10px;">Similarity:</label>
                <input type="range" id="slider" name="slider" min="0" max="100" value="50" oninput="updateSliderValue(this.value)" style="width: 300px; height: 20px;">
                <span id="sliderValue" style="margin-left: 10px;">50</span>
            </div>
        </div> -->

<!-- slider input element -->
<div style="text-align: center; margin-top: 20px;">
    <div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
      
      <!-- LOW label -->
      <span style="background-color: lightgray; padding: 5px 10px; border-radius: 5px; font-weight: bold;">LOW</span>
      
      <!-- Slider and label -->
    <div style="display: flex; align-items: center;">
        <!-- <label for="slider" style="margin-right: 10px;">Similarity:</label> -->
        <input 
          type="range" 
          id="slider" 
          name="slider" 
          min="0" 
          max="100" 
          value="50" 
          oninput="updateSliderValue(this.value)" 
          style="width: 300px; height: 20px;"
        >
      </div>
      
      <!-- HIGH label -->
      <span style="background-color: lightgray; padding: 5px 10px; border-radius: 5px; font-weight: bold;">HIGH</span>
  
        </div>

        <!-- Display slider value (hidden) -->    
        <span id="sliderValue" style="visibility: hidden;">50</span>

    </div>

        <!-- progress visualiser -->
        <div id="progress-container">
            <p id="progress-text" style="background-color: #eee; padding: 5px 10px; border-radius: 5px; width: fit-content;">
                Trial i of TOTAL
            </p>
        </div>
        
        <!-- Adding hidden formfields for storing data -->
        <div id="formfield_errors">
			{{ formfield_errors 'imageIndices' }}
			{{ formfield_errors 'imageRatings' }}
            {{ formfield_errors 'stimIndices' }}
        </div>
        <br>
        <!-- 'Next' button -->
        <button class="otree-btn-next btn btn-primary" id="button_next" type="button" onclick="loadNextImage();" style="float: right;">
            Next
        </button>

		<!-- initialising variables to store in Otree dataframe -->
		<div>
			<input type="hidden" name="imageIndices" id="imageIndices" />
			<input type="hidden" name="imageRatings" id="imageRatings" />
            <input type="hidden" name="stimIndices" id="stimIndices" />
		</div>
  </div>
</div>

<!-- JavaScript that loads images, enables ratings, and stores data -->
<script type="text/javascript">

// hides the progressText from beginning
const progressText = document.getElementById('progress-text');
progressText.style.display = 'none';

var observer = new MutationObserver(function(mutations, observer) {
    // fires when a mutation occurs
    // t0 = performance.now(); // activate to record rating time
    // shows progress texts as image appears
    progressText.style.display = '';
    document.getElementById('progress-text').innerText = `Trial ${(currentImageIndex)} of ${practiceRoundSize}`;
});

// defining the element to be observed by the observer
const target = document.querySelector('.whole.delay');

// defining the attributes of that element to be observed
observer.observe(target, {
    attributes: true
});

// number of images to be rated in the practice round
let practiceRoundSize = 3;

// defining the starting index
let currentImageIndex = 1;

// Function to construct the image URL
function getImageUrl(index) {
    if (index == 1) {
    return `/static/similarity/practice_images/practice_1.png`; // insert the correct images here
    } else if (index == 2) {
        return `/static/similarity/practice_images/practice_2.png`;
    } else {
        return `/static/similarity/practice_images/practice_3.png`;
    };
}

// Initialize the slider value
let sliderValue = -1; 

// Initializing lists to store variables
let imageIndices = [];
let imageRatings = [];

// Function to update the displayed slider value
function updateSliderValue(value) {
    document.getElementById('sliderValue').textContent = value;
    sliderValue = value;
    checkSliderValue(value);
}

// Function to load the next image dynamically and store the data in the array
function loadNextImage() {
	
    // Append current outer image index, stim index, and slider value to the lists
    imageIndices.push(currentImageIndex);
    imageRatings.push(sliderValue);

    // Update hidden input fields
    document.getElementById('imageIndices').value = JSON.stringify(imageIndices);
    document.getElementById('imageRatings').value = JSON.stringify(imageRatings);

	// Adding one to the img idx
    if (currentImageIndex < practiceRoundSize) {
		currentImageIndex++; // Move to the next image
	};

	// Submitting data when the n-th imageRating has been pushed to the list;
	if (imageIndices.length == practiceRoundSize) { //roundSetSize
		document.forms[0].submit(); // submits data
		// console.log("data logged");
	};

    // Construct the next image URL dynamically --> for the practice round, this can simply be hard-coded to the practice image
    let nextImageUrl = getImageUrl(currentImageIndex);

    // Check if the image exists
    let img = new Image();
    img.onload = function () {
        document.getElementById('imagePair').src = nextImageUrl;
        document.getElementById('slider').value = 50;
        updateSliderValue(50);
        document.getElementById("button_next").disabled = true; // Disable the next button
    };
    img.onerror = function () {
        alert("No more images to rate.");
    };

    img.src = nextImageUrl; // Trigger loading check

    // updating progress display
    document.getElementById('progress-text').innerText = `Trial ${(currentImageIndex)} of ${practiceRoundSize}`;
}

// Load the first image when the page loads
window.onload = function () {
    document.getElementById('imagePair').src = getImageUrl(currentImageIndex);
    console.log(document.getElementById('imagePair').src = getImageUrl(currentImageIndex));
};

// Function to enable button once the slider has been moved
function checkSliderValue(value) {
	if (value > -1) { // set to -1 to make 0 a useable rating
		document.getElementById("button_next").disabled = false;
	} else {
		document.getElementById("button_next").disabled = true;		}
} 

// Initial check to disable the "Next" button if the slider value is 0
document.getElementById("button_next").disabled = true;

// Using the 'enter' key as an alternative to clicking the 'next' button
document.addEventListener("keydown", function(event) {
  if (event.key === "Enter") {
    const slider = document.getElementById('slider');
    const condition = (slider.value != 50);

    if (condition) {
      event.preventDefault();
      document.activeElement.blur();
      loadNextImage();
    }
  }
});

</script>

<br />

{% endblock %}