{% block title %}
<span style="display: none;">Experiment: Practice</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'similarity/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'similarity/html2canvas.js' }}" type="text/javascript"></script>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
     setTimeout(function() {
         div = document.querySelector(".delay");
         if (div) div.style.position = "inherit"
     }, 2000)

 });
</script>
{% endblock %}

{% block content %}

<div id="wrapper">

  <div class="whole delay">

        <!-- instruction element -->
        <div style="display: flex; justify-content: center; align-items: center;">
            <p style="text-align: center; 
                font-size: 27.5px; 
                margin-top: 50px; 
                margin-bottom: 30px; 
                background-color: lightgray; 
                padding: 8px 10px;
                border-radius: 5px;
                width: 600px;            
                max-width: 90vw;          
                word-wrap: break-word;">
                {{ round_instruction }}
            </p>
        </div>

        <div id="draw">
            <label>
                <!-- Adding image for testing; this is overwritten by the JS and is just a placeholder -->
               <img id="imagePair" src="{{ static 'similarity/practice_images/practice_1.png' }}" alt="Temporary Image" style="width: 100%; max-width: 600px; padding: 40px;">
            </label>
        </div> 
        
        <!-- likert scale CSS in-line element (necessary to overwrite default Otree CSS for radio buttons) -->
         <style>
        #ratingRadios input[type="radio"] {
            appearance: radio !important;
            -webkit-appearance: radio !important;
            -moz-appearance: radio !important;
            display: inline-block !important;
            opacity: 1 !important;
            position: static !important;
            width: auto !important;
            height: auto !important;
            margin: 0 0 0 0;
            vertical-align: middle;
            cursor: pointer;
            transform: scale(1.3); 
        }
        </style>

        <!-- likert scale rating element -->
        <div id="ratingContainer" style="display: flex; justify-content: center; align-items: center; gap: 10px; padding: 10px; margin-top: 20px;">
            <div id="ratingRadios">
                <label>
                    <span>Very Low</span>
                    <input type="radio" name="rating" value="1">
                </label>
                <label>
                    <span>Low</span>
                    <input type="radio" name="rating" value="2">
                </label>
                <label>
                    <span>Intermediate</span>
                    <input type="radio" name="rating" value="3">
                </label>
                <label>
                    <span>High</span>
                    <input type="radio" name="rating" value="4">
                </label>
                <label>
                    <span>Very High</span>
                    <input type="radio" name="rating" value="5">
                </label>
            </div>
        </div>

        <!-- progress visualiser -->
        <div id="progress-container">
            <p id="progress-text" style="background-color: #eee; padding: 5px 10px; border-radius: 5px; width: fit-content;">
                Trial i of TOTAL
            </p>
        </div>
        
        <!-- Adding hidden formfields for storing data -->
        <div id="formfield_errors">
			{{ formfield_errors 'imageIndices' }}
			{{ formfield_errors 'imageRatings' }}
            {{ formfield_errors 'stimIndices' }}
        </div>
        <br>
        <!-- 'Next' button -->
        <button class="otree-btn-next btn btn-primary" id="button_next" type="button" onclick="loadNextImage();" style="float: right;">
            Next
        </button>

		<!-- initialising variables to store in Otree dataframe -->
		<div>
			<input type="hidden" name="imageIndices" id="imageIndices" />
			<input type="hidden" name="imageRatings" id="imageRatings" />
            <input type="hidden" name="stimIndices" id="stimIndices" />
		</div>
  </div>
</div>

<!-- JavaScript that loads images, enables ratings, and stores data -->
<script type="text/javascript">

// hides the progressText from beginning
const progressText = document.getElementById('progress-text');
progressText.style.display = 'none';

var observer = new MutationObserver(function(mutations, observer) {
    // fires when a mutation occurs
    // t0 = performance.now(); // activate to record rating time
    // shows progress texts as image appears
    progressText.style.display = '';
    document.getElementById('progress-text').innerText = `Trial ${(currentImageIndex)} of ${practiceRoundSize}`;
});

// defining the element to be observed by the observer
const target = document.querySelector('.whole.delay');

// defining the attributes of that element to be observed
observer.observe(target, {
    attributes: true
});

// loading the study number
studyNumber = {{ session.config.study_number }};
console.log("Study number = ", studyNumber);

// number of images to be rated in the practice round
let practiceRoundSize = 3;

// defining the starting index
let currentImageIndex = 1;

// fetching the file name list for the selected study number
let fileNameList = {}; 

function getFileNames() {
    let request = new XMLHttpRequest();
    request.open("GET", `/static/similarity/stim_file_name_lists/stim_file_name_list_study_${studyNumber}_iteration_1.JSON`, false); // `false` makes it synchronous
    request.send(null); // Send the request

    if (request.status === 200) {
        let data = JSON.parse(request.responseText);
        fileNameList = data; // Store the needed part
    } else {
        console.error("Failed to load JSON file");
    }
}
getFileNames();

// constructing three random image URLs
function sampleWithoutReplacement(arr, n) {
  const result = arr.slice(); 
  for (let i = result.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1)); 
    [result[i], result[j]] = [result[j], result[i]];
  }
  return result.slice(0, n);
}

// fetching 3 random files from the fileNameList
const fileListSample = sampleWithoutReplacement(fileNameList, 3);

// function to construct the image URL
function getImageUrl(index) {
    switch (index) {
        case 1: 
            return `/static/similarity/images/all_drawings/${fileListSample[0]}`;
        case 2:
            return `/static/similarity/images/all_drawings/${fileListSample[1]}`;
        case 3:
            return `/static/similarity/images/all_drawings/${fileListSample[2]}`;
    };
};

// Initializing lists to store variables
let imageIndices = [];
let imageRatings = [];

// Initialize the rating variable
let selectedRating = null;

// Listen for changes to any radio input with name="rating"
document.querySelectorAll('input[name="rating"]').forEach(radio => {
    radio.addEventListener('change', function() {
        selectedRating = parseInt(this.value);
        console.log("Selected rating:", selectedRating); // For testing
        // enabling button
        if (selectedRating != null) { // set to -1 to make 0 a useable rating
            document.getElementById("button_next").disabled = false;
        } else {
            document.getElementById("button_next").disabled = true;
        }    
    });
});

// Function to load the next image dynamically and store the data in the array
function loadNextImage() {
	
    // Append current outer image index, stim index, and rating value to the lists
    imageIndices.push(currentImageIndex);
    imageRatings.push(selectedRating);

    // Update hidden input fields
    document.getElementById('imageIndices').value = JSON.stringify(imageIndices);
    document.getElementById('imageRatings').value = JSON.stringify(imageRatings);

	// Adding one to the img idx
    if (currentImageIndex < practiceRoundSize) {
		currentImageIndex++; // Move to the next image
	};

	// Submitting data when the n-th imageRating has been pushed to the list;
	if (imageIndices.length == practiceRoundSize) { //roundSetSize
		document.forms[0].submit(); // submits data
		// console.log("data logged");
	};

    // Construct the next image URL dynamically --> for the practice round, this can simply be hard-coded to the practice image
    let nextImageUrl = getImageUrl(currentImageIndex);

    // Check if the image exists
    let img = new Image();
    img.onload = function () {
        document.getElementById('imagePair').src = nextImageUrl;
        // reset the radioButtons
        document.querySelectorAll('input[name="rating"]').forEach(radio => {
            radio.checked = false;
            });
        // reset the selectedRating variable
        selectedRating = null;
        document.getElementById("button_next").disabled = true; // Disable the next button
    };
    img.onerror = function () {
        alert("No more images to rate.");
    };

    img.src = nextImageUrl; // Trigger loading check

    // updating progress display
    document.getElementById('progress-text').innerText = `Trial ${(currentImageIndex)} of ${practiceRoundSize}`;
}

// Load the first image when the page loads
window.onload = function () {
    document.getElementById('imagePair').src = getImageUrl(currentImageIndex);
    console.log(document.getElementById('imagePair').src = getImageUrl(currentImageIndex));
};

// Initial check to disable the "Next" button
document.getElementById("button_next").disabled = true;

// Using the 'enter' key as an alternative to clicking the 'next' button
document.addEventListener("keydown", function(event) {
  if (event.key === "Enter") {

    const condition = (selectedRating != null);

    if (condition) {
      event.preventDefault();
      document.activeElement.blur();
      loadNextImage();
    }
  }
});

</script>

<br />

{% endblock %}