
{% block title %}
<span style="display: none;">C2-P{{player.id_in_subsession}}</span>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}


{% block scripts %}
<script src="{{ static 'esymb_transmission/drawing.js' }}" type="text/javascript"></script>
<script src="{{ static 'esymb_transmission/html2canvas.js' }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{{ include C.INSTRUCTIONS_TEMPLATE_DECORATOR }}

<div class="modal" tabindex="-1" role="dialog", id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Guesses</h5>
      </div>
      <div class="modal-body">
		{{ correct_icon_a }}
		{{ correct_icon_b }}
      </div>
    </div>
  </div>
</div>
<div id="wrapper">

  <div id="feedback" class="left">
	{{ if feedback_table }}
	<table class="table table-sm">
	  <thead>
		<tr>
		  <th scope="col"></th>
		  <th scope="col">Drawing</th>
		  <th scope="col">Guesser from your group</th>
		  <th scope="col">Guesser from the other group</th>
		</tr>
	  </thead>
	  <tbody>
		{{ for row in feedback_table }}
		<tr>
		  <th scope="row">{{ row.round }}</th>
		  <td><img src="{{ row.drawing }}"style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td>{{ row.correct_a }}</td>
		  <td>{{ row.correct_b }}</td>
		</tr>
		{{ endfor }}
	  </tbody>
	</table>
	{{ endif }}
  </div>


  <div class="right">
	{{ formfield_errors 'drawing' }}
	{{ formfield_errors 'linecount' }}
	<div id="pattern">
	  {{ for s in patterns }}
	  <label>
		<img src="{{ s.image }}" alt="{{ s.value }}" width="{{C.IMG_DIM}}px" height="{{C.IMG_DIM}}px" onclick="deleteDrawing(); grayPatterns();" class="{{s.checked}}">
			 </label>
	  {{ endfor }}
	</div>
	
	<div id="draw">
	  <p>1. Draw the selected pattern:</p>
	  <label>
		<input required type="hidden" name="drawing" id="drawing">
		<input required type="hidden" name="linecount" id="linecount">
		<div id="surface" style="background-image: url('{{surface}}'); margin-top: -20px !important;">
		  <div id="canvas" class="canvas"></div>
		</div>
	  </label>
	</div>
	
	<br />
	<button class="otree-btn-next btn btn-primary" type="button" onclick="submit_drawing_moderation(send_drawing_moderation_con2);" style="float: right;">
	  2. Send
	</button>
  </div>
  
</div>



{% endblock %}
