

{{ block title }}
<span style="display: none;">C2-P{{player.id_in_subsession}} </span>Well Done!
{{ endblock }}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}

{% block scripts %}
<script src="{{ static 'esymb_transmission/drawing.js' }}" type="text/javascript"></script>
{% endblock %}


{% block content %}
<div class="modal" tabindex="-1" role="dialog", id="modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Guessed {{ if correct_status }}correct{{ else }}wrong{{ endif }}</h5>
      </div>
      <div class="modal-body">
		{{ correct_icon }}
      </div>
    </div>
  </div>
</div>
<div id="wrapper">

<div id="feedback" class="left">
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Drawing from your group</th>
      <th scope="col">Drawing from other group</th>
      <th scope="col">Guessed correctly?</th>
    </tr>
  </thead>
  <tbody>
	{{ for row in feedback_table }}
    <tr>
      <th scope="row">{{ row.round }}</th>
	  <td><img src="{{ row.owngroup }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
	  <td><img src="{{ row.othergroup }}" style="width: {{C.IMG_DIM_SMALL}}px;"></td>
      <td>{{ row.correct }}</td>
    </tr>
	{{ endfor }}
  </tbody>
</table>
</div>

<div class="right">
  
  <p>Well done!</p>
  <p>You have now completed your part as the GUESSER.</p>
  <p>After you click next, you might have a break before the next part. This could be up to 30 minutes while other participants complete their parts. We appreciate your patience!</p>
  <p>Click next to finish.</p>
 
  <button class="otree-btn-next btn btn-primary">
	Next part
  </button>
</div>

</div>


<br />


{% endblock %}
