
{{ extends 'otree/WaitPage.html' }}

{{ block title }}
<span style="display: none;">C2-P{{player.id_in_subsession}} </span>
{{ endblock }}

{% block styles %}
<link rel="stylesheet" href="{{ static 'esymb_transmission/experiment_layout.css' }}" type="text/css">
{% endblock %}
{{ block content }}
{{ if player.role == C.DECORATOR_ROLE }}
<div id="wrapper">
  <div class="left">
	{{ if feedback_table }}
	<table class="table table-sm">
	  <thead>
		<tr>
		  <th scope="col"></th>
		  <th scope="col">Drawing</th>
		  <th scope="col">Guesser from your group</th>
		  <th scope="col">Guesser from the other group</th>
		</tr>
	  </thead>
	  <tbody>
		{{ for row in feedback_table }}
		<tr>
		  <th scope="row">{{ row.round }}</th>
		  <td><img src="{{ row.drawing }}"style="width: {{C.IMG_DIM_SMALL}}px;"></td>
		  <td>{{ row.correct_a }}</td>
		  <td>{{ row.correct_b }}</td>
		</tr>
		{{ endfor }}
	  </tbody>
	</table>
	{{ endif }}
  </div>
  <div class="center" style="margin: 5px;">
	<p>Waiting for the GUESSERs to guess which drawing was made by you.</p>
  </div>
  <div class="right">
  </div>
</div>
{{ else }}
<p>Waiting for the other GUESSER to choose a drawing.</p>
{{ endif }}
{{ endblock }}
